body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(192, 231, 231);
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    width: 960px;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    padding: 10px;
}
.empresa{
    display: flex;
    color: black;
}

.cont{
    height: 600%;
    margin-top: 50px;
    padding-left: 300px;
    /* margin-left: 250px;
    margin-right: 250px; */
    overflow: hidden;
    background-color: whitesmoke;
}

.titulo{
    color: black;
    margin-left: 250px;
    align-items: center;
    padding-top: 50px;
    
}
.col1{
    background-color: whitesmoke;
    margin-left: 122px;
    margin-top: 50px;
    width: 200px;
    height: 400px;
    float: left;
}

.col2{
    background-color: whitesmoke;
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
    height: 400px;
    float: left;
}

.col3{
    background-color: whitesmoke;
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
    height: 400px;
    float: left;
}

@media (max-width: 600px){
    nav, article{
        width: 100%;
        height: auto;
    }
}